@import '../../scss/colors.scss';
@import '../../scss/sizing.scss';
@import '../../scss/shadow.scss';
@import '../../scss/fonts.scss';

.zpt-button {
    &__main-element {
        $main-color: $accent-a;
        $second-color: $bg-main;

        display: inline-flex;
        align-items: center;
        border: none;
        box-shadow: shadow-m($fe-main);
        @include font-primary-200;
        border-radius: $padding-xl;
        cursor: pointer;
        transition: all .1s ease-in-out;
        letter-spacing: .2px;

        &__primary {
            background-color: $fe-main;
            color: $bg-main;
        
            &:hover {
                background-color: lighten($fe-main, 15);
                box-shadow: shadow-l($fe-main);
            }

            &:disabled {
                background-color: lighten($fe-main, 30);
                box-shadow: none;
                cursor: default;
            }
        }

        &__secondary {
            background-color: $bg-main;
            color: $fe-main;
            @include font-primary-300;

            &:hover {
                background-color: $bg-main;
            }
        
            &:disabled {
                background-color: $bg-main;
                color: lighten($fe-main, 50);
                box-shadow: shadow-s(lighten($fe-main, 50));
            }
        }

        &__small {
            height: #{$base-padding * 3}px;
            padding: 0 $padding-s;
            font-size: $fontsize-s;
        }

        &__medium {
            height: #{$base-padding * 5}px;
            padding: 0 $padding-m;
            font-size: $fontsize-m;
        }

        &__large {
            height: #{$base-padding * 6}px;
            padding: 0 $padding-l;
            font-size: $fontsize-l;
        }
        
        &__full-width {
            justify-content: center;
            width: 100%;
        }
    }
}