@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/sizing';
@import '../../scss/shadow';

$negative-spacing: -#{$padding-s};

.zpt-new-answer-field {
    &__wrapper {
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: $negative-spacing;
            right: $negative-spacing;
            top: $negative-spacing;
            bottom: $negative-spacing;
            border-radius: $padding-s;
            transition: .2s all ease-in-out;
            z-index: -1;
            visibility: hidden;
        }

        &__active {
            position: relative;

            &:before {
                visibility: visible;
                box-shadow: shadow-s(lighten($fe-main, 20%)), shadow-l(lighten($fe-main, 60%));
            }
        }
    }

    &__input {
        @include font-primary-500;
        outline: none;
    }
}