@import '../../scss/colors.scss';
@import '../../scss/shadow.scss';
@import '../../scss/sizing.scss';

.zpt-card {
    &__wrapper {
        background-color: $bg-main;
        padding: $padding-l;
        border-radius: $padding-l;
        box-shadow: #{shadow-s($fe-main)}, #{shadow-xl($fe-main)};
    }
}